Diagnostics:
  ClangTidy:
    FastCheckFilter: None
    Add: [ clang-diagnostic-*,
      cppcoreguidelines-*,
      misc-*,
      performance-*,
      readability-*,
      modernize-*,
      clang-analyzer-*,
      bugprone-* ]
    Remove: [ modernize-use-trailing-return-type,
      bugprone-easily-swappable-parameters,
      modernize-use-std-numbers,
      readability-avoid-const-params-in-decls,
      readability-else-after-return,
      readability-identifier-length,
      readability-magic-numbers,
      misc-unused-using-decls,
      performance-avoid-endl ]
  UnusedIncludes: None
