Diagnostics:
  ClangTidy:
    Add: "*"
    Remove: [ llvmlibc-callee-namespace,
      llvmlibc-implementation-in-namespace,
      llvmlibc-inline-function-decl,
      llvm-namespace-comment,
      llvm-include-order,
      llvm-else-after-return,
      performance-avoid-endl,
      modernize-use-trailing-return-type,
      modernize-return-braced-init-list,
      readability-identifier-length,
      readability-else-after-return,
      readability-magic-numbers,
      readability-redundant-member-init,
      readability-uppercase-literal-suffix,
      readability-avoid-const-params-in-decls,
      readability-simplify-boolean-expr,
      readability-const-return-type,
      bugprone-easily-swappable-parameters,
      misc-non-private-member-variables-in-classes,
      cppcoreguidelines-avoid-magic-numbers,
      cppcoreguidelines-pro-type-reinterpret-cast,
      cppcoreguidelines-avoid-non-const-global-variables,
      cppcoreguidelines-owning-memory,
      cppcoreguidelines-pro-type-vararg,
      cppcoreguidelines-rvalue-reference-param-not-moved,
      hicpp-uppercase-literal-suffix,
      hicpp-vararg,
      google-readability-namespace-comments,
      google-runtime-int,
      google-build-using-namespace,
      altera-unroll-loops,
      altera-id-dependent-backward-branch,
      fuchsia-overloaded-operator,
      fuchsia-default-arguments-declarations,
      fuchsia-default-arguments-calls,
      cert-dcl58-cpp ]
  UnusedIncludes: None
