[submodule "EquinoxMod/Dependencies/Stdm"]
	path = EquinoxMod/Dependencies/Stdm
	url = git@github.com:tony942316/Stdm.git
	branch = main
[submodule "EquinoxMod/Dependencies/EQX-CMakeInterfaces"]
	path = EquinoxMod/Dependencies/EQX-CMakeInterfaces
	url = git@github.com:tony942316/EQX-CMakeInterfaces.git
	branch = main
